<phpunit
    bootstrap="test/phpunit/bootstrap.php"
    colors="true"
    backupGlobals="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="false">

    <php>
        <server name='HTTP_HOST' value='http://localhost' />
        <server name="SERVER_NAME" value='http://localhost' />
        <server name="SERVER_PORT" value="80"/>
    </php>

    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./test/phpunit</directory>
        </testsuite>
    </testsuites>
</phpunit>
